*{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

#body {
     background: #f5f5f5;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.button {
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    height: 40px;
}

.link {
    text-decoration: none;
}

/*1st screen related. Ends line 76*/

.user-form {
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.user-form__photo {
    border: 1px solid #d6d6d6;
    border-radius: 50%;
    height: 140px;
    left: 79px;
    position: absolute;
    top: -70px;
    width: 140px;
}

.user-form__info {
    background: white;
    border-radius: 10px 10px 0 0;
    color: #414141;
    font-size: 21px;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 15px;
    padding-top: 83px;
    text-align: center;
}

.text--login {
    font-family: 'Open Sans', sans-serif;
}

.user-form__footer {
    background: #33c1e3;
    border-radius: 0 0 10px 10px;
    height: 78px;
}

.button--white {
    background: #33c1e3;
    border: 2px solid white;
    color: white;
    margin: 19px 81px;
    width: 138px;
}

.button--white:hover {
    background: white;
    color: #33c1e3;
}

/*1st screen related end*/

.header {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.top-info {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left;
    height: 80px;
}

.top-info__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #d6d6d6;
}

.top-info__name {
    margin-left: 20px;
    color: #414141;
    font-weight: normal;
    font-size: 18px;
    }

.top-link {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: right;
    height: 80px;
}

.link--top {
    color: #33c1e3;
    font-weight: bold;
    background-image: linear-gradient(to right, #33c1e3 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    padding-bottom: 2px;
}

.content {
    padding-top: 80px;
    min-height: calc(100vh - 130px);
}

.side-nav {
    float: left;
    width: 220px;
    font-weight: normal;
    text-align: right;
    font-size: 18px;
    padding-top: 25px;
}

.side-nav__link {
    display: block;
    text-decoration: none;
    color: #414141;
    padding: 12px 25px 12px;
}

.side-nav__link:hover {
    color: #33c1e3;
}

.side-nav__link--current {
    color: #33c1e3;
    border-right: 6px solid #33c1e3;
    font-weight: bold;
}

.main-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: right;
    justify-content: space-between;
    padding-top: 25px;
    width: 700px;
}

.main-info__pic {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: #f5f5f5;
    border: 5px solid #ffffff
}

.main-info__text {
    padding-left: 55px;
}

.text--big {
    color: #414141;
    font-size: 35px;
}

.text--info {
    line-height: 26px;
    height: 299px;
    overflow: hidden;
}

.button-area {
    float: right;
}

.button--red {
    background: #f6f6f6;
    border: 2px solid #e75f61;
    color: #e85f61;
    font-family: 'Open Sans', sans-serif;
    margin: 50px 0;
    width: 173px;
}

.button--red:hover {
    background: #e75f61;
    color: white;
}

.footer {
    background-color: #414141;
    height: 50px;
    width: 100%;
}

.legal {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left;
    height: 50px;
}

.legal__info {
    color: #9c9c9c;
    font-size: 14px;
    font-weight: 300;
}

.social {
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: right;
    height: 50px;
}

.social__link {
    border: none;
    height: 30px;
    padding-right: 5px;
    text-decoration: none;
    width: 30px;
}

.social__link--fb {
    background: url(../img/icons/facebook.svg) no-repeat;
    background-size: contain;

}

.social__link--vk {
    background: url(../img/icons/vk.svg) no-repeat;
    background-size: contain;

}

.social__link--tw {
    background: url(../img/icons/twitter.svg) no-repeat;
    background-size: contain;

}

.social__link--fb:hover {
    background: url(../img/icons/facebook-hover.svg) no-repeat;
    background-size: contain;
}

.social__link--vk:hover {
    background: url(../img/icons/vk-hover.svg) no-repeat;
    background-size: contain;
}

.social__link--tw:hover {
    background: url(../img/icons/twitter-hover.svg) no-repeat;
    background-size: contain;
}

/*dropdown menu attempt*/

.top-link__triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dddddd;
    position: absolute;
    top: 60px;
    margin-left: 90px;
    display: none;
}

.top-link__dropdown {
    display: none;
    position: absolute;
    top: 70px;
    background-color: white;
    width: 191px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    z-index: 2;
    padding-left: 10px;

}

.link--drop {
    color: #414141;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 0;
}

.link--drop:hover {
    color: #33c1e3;
}

.top-link:hover .top-link__triangle {
    display: block;
}

.top-link:hover .top-link__dropdown {
    display: block;
}

.top-link:hover:hover .link--top {
    color: #e85f61;
    background-image: linear-gradient(to right, #e85f61 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}

.fa-envelope, .fa-phone, .fa-skype {
    color: #33c1e3;
    padding-right: 5px;
}
