.header {
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.top-info {
    @include flex ();
    align-items: center;
    height: 80px;
    padding: 0 15px;

    &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #d6d6d6;
    }

    &__name {
        margin-left: 19px;
        color: #414141;
        font-weight: normal;
        font-size: 18px;
        }
}

.top-link {
    @include flex ();
    align-items: center;
    height: 80px;
    float: right;
    width: 180px;
    justify-content: flex-end;
    padding: 0 15px;

    /*&__triangle {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #dddddd;
        position: absolute;
        top: 60px;
        margin-right: 100px;
        display: none;

        &--small {
            position: absolute;
            width: 0;
            height: 0;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            border-bottom: 10px solid white;
            top: 61px;
            margin-left: 100px;
            display: none;
        }*/

    &__dropdown {
        position: absolute;
        top: 70px;
        background-color: white;
        width: inherit;
        border: 1px solid #dddddd;
        border-radius: 10px;
        padding-left: 10px;
        transition: visibility 0s 0.5s, opacity 0.5s;
        visibility: hidden;
        opacity:0;
        }
}

.link {
    text-decoration: none;

    &--top {
        color: #33c1e3;
        font-weight: bold;
        font-size: 18px;
        background-image: linear-gradient(to right, #33c1e3 33%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 4px 1px;
        background-repeat: repeat-x;
        padding-bottom: 2px;
    }

    &--drop {
        color: #414141;
        display:  inline-block;
        font-size: 18px;
        font-weight: 300;
        padding: 10px 0;
    }

    &--drop:hover {
        color: #33c1e3;
    }
}

/*following are not really BEM friendly yet*/

/*.top-link:hover .top-link__triangle {
    display: block;
}

.top-link:hover .top-link__triangle--small {
    display: block;
}*/

.top-link:hover .top-link__dropdown {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
    }

.top-link:hover .link--top {
    color: #e85f61;
    background-image: linear-gradient(to right, #e85f61 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
}

.fa-envelope, .fa-phone, .fa-skype {
    color: #33c1e3;
    padding-right: 5px;
}
