.side-nav {
    width: 220px;
    font-weight: normal;
    text-align: right;
    font-size: 18px;
    padding: 24px 0;
    margin-left: 17px;
    box-sizing: border-box;

    &__link {
        display: block;
        text-decoration: none;
        color: #414141;
        padding: 12px 24px 12px 0;
        border-right: 6px solid transparent;
    }

    &__link:hover {
        color: #33c1e3;
    }

    &__link--current {
        color: #33c1e3;
        border-right-color: #33c1e3;
        font-weight: bold;
    }
}
