
.main-info {
    @include flex ();
    float: right;
    justify-content: space-between;
    padding: 23px 15px 0;
    width: 700px;

    &__pic {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 5px solid #ffffff;
        margin-left: 36px;
        animation-name: zoomIn;
        animation-duration: 1.5s;
    }

    &__text {
        padding-left: 55px;
        width: 400px;
        animation-name: slide;
        animation-duration: 2s;
    }
}

.text--big {
    color: $primary-color;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text--info {
    line-height: 26px;
    height: 290px;
    overflow: hidden;
    font-weight: 300;
    font-size: 18px;
}

.button-area {
    float: right;
    animation-name: redbuttonbounce;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button--red {
    width: 173px;
    background: #f6f6f6;
    border: 2px solid #e75f61;
    color: #e85f61;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 55px 14px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

.button--red:hover {
    background: #e75f61;
    color: white;
    animation-name: buttonzoom;
    animation-duration: 1s;
}

@keyframes redbuttonbounce {
  from {
    opacity: 0;
    transform: translate(0, 15%);
  }

  50% {
      opacity: 1;
  }

  95% {
    transform: translate(0, -2%);

  }
  100% {
      transform: translate(0, 0%);
  }
}

@keyframes buttonzoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide {
    from {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
    }

    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
}

@media screen and (max-width:520px) {

    .main-info {
        @include flex ();
        justify-content: center;
        flex-direction: column;
        padding: 23px 15px 0;
        width: 100%;

        &__pic {
            width: 140px;
            height: 140px;
            border-radius: 50%;
        }

    }

}
