
.main-info {
    @include flex ();
    float: right;
    justify-content: space-between;
    padding: 23px 15px 0;
    width: 700px;

    &__pic {
        width: 220px;
        height: 220px;
        border-radius: 50%;
        border: 5px solid #ffffff;
        margin-left: 36px;
    }

    &__text {
        padding-left: 55px;
        width: 400px;
    }
}

.text--big {
    color: $primary-color;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
}

.text--info {
    line-height: 26px;
    height: 290px;
    overflow: hidden;
    font-weight: 300;
    font-size: 18px;
}

.button-area {
    float: right;
}

.button--red {
    width: 173px;
    background: #f6f6f6;
    border: 2px solid #e75f61;
    color: #e85f61;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 55px 14px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

.button--red:hover {
    background: #e75f61;
    color: white;
    animation-name: zoom;
    animation-duration: 1s;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
